
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/becekestatehunter/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/becekestatehunter/css/main.css') }}" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('gratka') }}">DomGratka</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('otodom') }}">Otodom</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ path('olx') }}">Olx</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ path('newFilter') }}">Dodaj nowy filtr</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('filters') }}">Filtry</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="starter-template">
        <h1>Wyszukaj oferty na portalach ogłoszeniowych</h1>
        <div class="row">
            <div class="col-md-12">


            </div>
        </div>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/becekestatehunter/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/becekestatehunter/js/jquery-slim.min.js') }}"></script>
<script src="{{ asset('bundles/becekestatehunter/js/popper.min.js') }}"></script>
<script src="{{ asset('bundles/becekestatehunter/js/bootstrap.min.js') }}"></script>

{#
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
#}

</body>
</html>
