<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/becekestatehunter/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/becekestatehunter/css/main.css') }}" rel="stylesheet">

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('gratka') }}">DomGratka</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('otodom') }}">Otodom <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('olx') }}">Olx</a>
            </li>
        </ul>

    </div>
</nav>


<div class="container">
    <div class="starter-template">
        <h1>Wyszukaj oferty na otodom.pl</h1>

         <div class="row">
             <div class="col-6">
                 <form class="form" method="POST">
                     <div class="form-group">
                         {#
                         <label for="localization">Wpisz lokalizacje poniżej:</label>
                         <input class="form-control" type="text" id="localization" name="localization"/>
                         <select class="form-control" id="result-select">
                             <option value="no-results" selected="selected">Brak wyników</option>
                         </select>
                         #}
                         <select style="width: 400px;" class="js-data-example-ajax"></select>
                     </div>
                     {#
                     <div class="form-group pull-right">
                         <button id="btnSendRequest" class="btn btn-block btn-primary">Wyślij zapytanie</button>
                     </div>
                     #}
                 </form>
             </div>

            <div class="col-6">
                <h4>Wynik:</h4>
                <h5>
                    <div id="result" class="">
                        {% if suggestText is not null %}
                            {{ dump(suggestText) }}
                        {% endif %}
                    </div>
                </h5>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-4">
                {% if searchForm is not null %}
                    {{ form_start(searchForm) }}
                    {{ form_widget(searchForm) }}
                    {{ form_end(searchForm) }}
                {% endif %}
            </div>
            <div class="col-md-8">
                <div>
                    {% if data is not null %}
                        {{ dump(data) }}
                        {{ html|length }}
                    {% endif %}
                </div>
                <div>
                    {% if html is not null %}
                        {{ dump(html) }}
                    {% endif %}
                </div>
                {#
                <table class="table table-dark table-hover table-bordered">
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
                #}
            </div>
        </div>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/becekestatehunter/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/becekestatehunter/js/popper.min.js') }}"></script>
<script src="{{ asset('bundles/becekestatehunter/js/bootstrap.min.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
    {#
    $("#localization").change(function() {
        var inputText = $("#localization").val();
        $("#result-select").empty().append('<option value="no-results" selected="selected">Brak wyników</option>');

        $.ajax({
            type: "post",
            url: "{{ url('localization') }}",
            data: {
                localization: inputText,
            },
            success: function(data){
                data = JSON.parse(data);
                console.log(data);
                if(data.length > 0){
                    $("#result-select").empty();
                    $.each(data, function (index, item) {
                        if (item.level == "CITY") {
                            if (index == 0) {
                                $("#result-select").append('<option value="' + item.text + '" selected="selected">' + item.text + '</option>');
                            }
                            else {
                                $("#result-select").append('<option value="' + item.text + '">' + item.text + '</option>');
                            }
                        }
                    });
                }
            },
            error: function(e){
                console.log(e.message);
            }
        });
    });
    #}

    var inputText = $("#localization").val();
    $('.js-data-example-ajax').select2({

        ajax: {
            url: "{{ url('localization') }}",
            type: 'POST',
            delay: 500,
            data: inputText,
            processResults: function (data) {
                data = JSON.parse(data);
                return {
                    results: $.map(data, function(obj) {
                        if(obj.level == "CITY") {
                            return { id: obj.id, text: obj.text };
                        }
                        return null;
                    })
                };
            }
        }
    });

</script>

{#
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
#}

</body>
</html>
