<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/becekestatehunter/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/becekestatehunter/css/main.css') }}" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('gratka') }}">DomGratka</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('otodom') }}">Otodom <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Olx</a>
            </li>
        </ul>

    </div>
</nav>


<div class="container">
    <div class="starter-template">
        <h1>Wyszukaj oferty na otodom.pl</h1>
         {#
         <div class="row">
            <div class="col-md-6">
                <form class="form" method="POST" action="{{ path('otodomRequest') }}">
                    <div class="form-group">
                        <label for="localization">Wpisz lokalizacje poniżej:</label>
                        <input class="form-control" type="text" id="localization" name="localization"/>
                    </div>

                    <button id="btnSendRequest" class="btn btn-block btn-primary">Wyślij zapytanie</button>
                </form>
            </div>
            <div class="col-md-6">
                <h4>Wynik:</h4>
                <h5>
                    <div id="result">
                        {% if suggestText is null %}
                            {{ suggestText }}
                        {% endif %}
                    </div>
                </h5>
            </div>
        </div>
         #}
        <hr>
        <div class="row">
            <div class="col-md-4">
                {{ form_start(searchForm) }}
                {{ form_widget(searchForm) }}
                {{ form_end(searchForm) }}
            </div>
            <div class="col-md-8">
                <div>
                    {% if data is not null %}
                        {{ dump(data) }}
                    {% endif %}
                </div>
                <div>
                    {% if html is not null %}
                        {{ dump(html) }}
                    {% endif %}
                </div>
                {#
                <table class="table table-dark table-hover table-bordered">
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
                #}
            </div>
        </div>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/becekestatehunter/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/becekestatehunter/js/popper.min.js') }}"></script>
<script src="{{ asset('bundles/becekestatehunter/js/bootstrap.min.js') }}"></script>

<script>
    {#
        $(document).on('click','#btnSendRequest',function(e){
            e.preventDefault();

            var postData = $("#localization").text();
            console.log('Weszlo');

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "https://www.otodom.pl/ajax/geo6/autosuggest/",
                data: postData,
                contentType: "application/json; charset=utf-8",
                success: function(data){
                    console.log(data);
                },
                error: function(e){
                    console.log(e.message);
                }
            });

            return false;
        });
    #}
</script>

{#
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
#}

</body>
</html>
